body {
    background-color: #f4f4f4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;

}

h1 {
    margin: 0px;
}

#mainHeading {
    color: #f047be;
}

.highlight {
    color: #FF0000;
}

#introText {
    width: 471px;
    float: left;
    margin: 0px 0px 0px 38px;
}

#profilePicture {
    float: left;
    margin: 0px 0px 38px 0px;
}

.reset {
    clear: both;
}

#hobbyText {
    width: 380px;
    float: left;
}

#heroShot {
    float: left;
    margin: 0px 0px 38px 0px;
}

#funnyImage {
    float: left;
}

#socials {
    width: 364px;
    float: left;
    background-color: #D9D9D9;
}

#pageContainer {
    width: 1029px;
    margin: 0px auto 0px auto;
}